.DS_Store
*.lock
001-mandelbrot-with-opencv/build/*
003-waste-disposal-plots-germany/003/
003-waste-disposal-plots-germany/google_api_key
003-waste-disposal-plots-germany/notebooks/.ipynb_checkpoints/
004-time-series-geo-data/.ipynb_checkpoints/
004-time-series-geo-data/004/
004-time-series-geo-data/features_train.csv
004-time-series-geo-data/libdata/__pycache__/
004-time-series-geo-data/libdata/libdata.egg-info/
004-time-series-geo-data/model.pkl
006-extract-table-from-image/build/
006-extract-table-from-image/bin/
007-parallel-prime-number-haskell/parhask/.gitignore
009-covid19-study/covid/
009-covid19-study/covid19/__pycache__/
010-profile-python-memory-access/env/
010-profile-python-memory-access/*.dat
010-profile-python-memory-access/joblib
010-profile-python-memory-access/joblib-compressed
010-profile-python-memory-access/memory_profile/__pycache__/
010-profile-python-memory-access/pickle
011-tensor/data/
011-tensor/env/
011-tensor/tensor/__pycache__/
011-tensor/checkpoint
011-tensor/model.checkpoint.*
011-tensor/out/
011-tensor/tensor-history.json
011-tensor/tensor.log
012-spark-image-localisation/project/
012-spark-image-localisation/target/
012-spark-image-localisation/sil/target/
013-flatbuffers-serialisation/build/CMakeCache.txt
013-flatbuffers-serialisation/build/CMakeFiles/
013-flatbuffers-serialisation/build/Makefile
013-flatbuffers-serialisation/build/cmake_install.cmake
013-flatbuffers-serialisation/build/flatbuff
013-flatbuffers-serialisation/convert_fbs_to_json.sh
013-flatbuffers-serialisation/schemas/
013-flatbuffers-serialisation/station.bin
014-spark-graph/graph/target/
014-spark-graph/project/
014-spark-graph/target/
015-haskell-lens/hlens/.stack-work/
016-dijkstra-cpp/bin/
017-kosaraju-cpp/bin/
018-graph-traversal/bin/
019-subgraph-optimisation/bin/
020-dockerised-nodejs-cassandra/app/node_modules/
020-dockerised-nodejs-cassandra/app/package-lock.json
021-haskell-semigroup/p21/.stack-work/
022-python-coroutines/env/
023-corona-dashboard/corona/__pycache__/
023-corona-dashboard/corona/data/__pycache__/
023-corona-dashboard/corona_track.egg-info/
024-table-reconstruction-from-image/bin/
024-table-reconstruction-from-image/notebooks/.ipynb_checkpoints/
025-crawl-football-wiki/crawl_football.egg-info/
025-crawl-football-wiki/crawl_football_wiki.egg-info/
025-crawl-football-wiki/crawler/__pycache__/