001-mandelbrot-with-opencv/build/*
*.lock
003-waste-disposal-plots-germany/003/
003-waste-disposal-plots-germany/google_api_key
003-waste-disposal-plots-germany/notebooks/.ipynb_checkpoints/
004-time-series-geo-data/.ipynb_checkpoints/
004-time-series-geo-data/004/
004-time-series-geo-data/features_train.csv
004-time-series-geo-data/libdata/__pycache__/
004-time-series-geo-data/libdata/libdata.egg-info/
004-time-series-geo-data/model.pkl
006-extract-table-from-image/build/